---
import { Proyectos } from "../../scripts/proyect"
---
<!-- Hacer el map de array de objestos de los proyectos  -->
 
<section class="grid grid-cols-1 lg:grid-cols-3   gap-9  lg:gap-12   mt-4  mx-3 lg:mx-0">
    <div class="Contenedor-proyectos   flex flex-col gap-4  rounded-md  items-center justify-between  filter grayscale-[40%] hover:grayscale-0 transition duration-300">
        <div class="flex flex-col gap-3  items-center">
            <div class="overflow-hidden  h-48 lg:h-52 w-full rounded-xl">
            <img class="rounded-lg w-full object-cover object-center h-full transition-all duration-200 hover:scale-110" loading="lazy" src="https://tse1.mm.bing.net/th?id=OIG4.vMVvf1S.2VUS7aZWheQC&pid=ImgGn" alt="">
             </div>
           <div class="flex  flex-col gap-3 justify-center items-center text-center">
            <div class="flex gap-2 text-center">
                <h4 class="text-2xl lg:text-3xl  font-principal">Próximo</h4>
                <div class="text-[#fc2d2d]" >
                    <svg  xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 32 32">
                        + <path d="M16 2a14 14 0 1 0 0 28 14 14 0 0 0 0-28zm1 22h-2v-2h2v2zm1.5-7c-.6 0-1 .4-1 1v2h-3v-2c0-1.4 1-2.5 2.2-2.9.8-.2 1.3-.8 1.3-1.5 0-.9-.8-1.6-1.8-1.6-1 0-1.8.7-1.8 1.6H12c0-1.9 1.7-3.4 3.8-3.4 2 0 3.6 1.5 3.6 3.4 0 1.6-1.1 2.9-2.5 3.3z"/>'
                        + </svg>
                </div>
                <h4 class="text-2xl lg:text-3xl  font-principal">Proyecto</h4>                       
            </div>
              
               <p class="text-gray-100">Próximamente.. :)</p>
            </div>
        </div>
        <div class="inline-flex gap-2">
         <p class=" bg-[#fc2d2d] px-12 py-2 rounded-md font-principal "  >NO </p>
         <p class=" border-[1px] border-[#fc2d2d] bg-[#fc2d2d65] px-12 py-2 rounded-md font-principal tracking-wide" >DISPONIBLE </p>
        </div>
    </div>


    {
        Proyectos.slice().reverse().map((proyecto) => (
            <div class="Contenedor-proyectos   flex flex-col gap-4  rounded-md  items-center justify-between  filter grayscale-[40%] hover:grayscale-0 transition duration-300">
                <div class="flex flex-col gap-3  items-center">
                    <div class="overflow-hidden  h-48 lg:h-52 w-full rounded-xl">
                    <img class="rounded-lg w-full object-cover object-center h-full transition-all duration-200 hover:scale-110" loading="lazy" src={proyecto.imagen} alt="">
                     </div>
                   <div class="flex  flex-col gap-3 justify-center items-center text-center">
                    <div class="flex gap-2 text-center">
                        <h4 class="text-2xl lg:text-3xl  font-principal">{proyecto.nombre}</h4>
                        <div class="text-[#6AFF62]" set:html={proyecto.svg}></div>
                        <h4 class="text-2xl lg:text-3xl  font-principal">{proyecto.secondNombre}</h4>                       
                    </div>
                      
                       <p class="text-gray-100">{proyecto.descripcion}</p>
                    </div>
                </div>
                <div class="inline-flex gap-2">
                    <a class=" border-[1px] border-primario bg-[#0aa40265] px-12 py-2 rounded-md font-principal tracking-wide" href={proyecto.link}>CODIGO </a>
                    <a class=" bg-primario px-12 py-2 rounded-md font-principal " href={proyecto.link}>PLAY </a>
                </div>
            </div>
        ))
    }
    
    
    
    
</section>