---
import ResultadoCalcu from "./ResultadoCalcu.astro";


const ulStyle ="flex  justify-between px-2 items-center";
---


<section class="flex  flex-col lg:flex-row  lg:justify-evenly  w-full  gap-4 items-center  ">
    <form id="calcular" class="h-auto max-w-96 bg-[#fff9ef] text-gray-800 px-6 py-3 flex flex-col mx-auto lg:mx-0">
        <h3 class="text-center font-principal text-xl border-b-2 border-black">El Crustáceo Cascarudo</h3>
        <div class="font-medium border-dashed border-b-1 border-black py-3">
            <p>Cliente: Bob P. Esponja</p>
            <p> Mesa: 12</p>
            <p> Fecha: 20 de octubre de 2024</p>
        </div> 
        <div class="font-medium border-dashed border-b-1 border-black py-3">
            <p> Mesero: Calamardo Tentáculos</p>
            <p> Hora: 13:00</p>
        </div>
        <div class="font-medium border-dashed border-b-1 border-black pb-4">
            <div class="flex justify-between  py-2  font-principal">
                <p>Platos marinos</p>
                <p>Precio</p>
            </div>
         

            <ul class="">
                    <div class={ulStyle}>
                        <li> Cangreburger sencilla: </li>
                        <span>$---</span>
                    </div>
                    <div class={ulStyle}>
                    <li> Papas fritas de Fondo de Bikini: </li>
                    <span>$---</span>
                    
                    </div>
                    <div class={ulStyle}>
                    <li> Helado de medusa: </li>
                    <span>$---</span>
                    </div>
                    <div class={ulStyle}>
                    <li>Refresco Kelp : </li>
                    <span>$---</span>
                    </div>
               
            </ul>
        </div>
        <div class="flex flex-col py-3 gap-2">
            <div class={ulStyle}>
                <label for="servicio" >Atencion de Calamardo :</label>
               <select  class="font-principal text-sm -tracking-tighter px-3 py-2 border-1 border-black rounded-md" name="servicio" id="servicio">
                <option value="" disabled selected   >Calificacion</option>
                <option value="excelente">excelente</option>
                <option value="Buena">Buena</option>
                <option value="regular">Regular</option>
                <option value="Terrible">Terrible</option>
                </select>
            </div>
              
            <div class={ulStyle}>
                <label for="monto">Total a pagar $ :</label>
                <input class="font-principal text-sm -tracking-tighter pl-3 py-2 border-1 border-black rounded-md"  type="number" name="monto" id="monto" placeholder="Ingrese Total $USD" required>
            </div>
            
        </div>
        <button  class="text-center bg-[#ff9900c2] py-2 font-principal rounded-lg hover:scale-105 transition-all duration-100 ease-in " type="submit">Calcular Propina</button>

        <p class="text-center italic py-3 ">¡Gracias por comer en el <span class="font-principal text-sm">El Crustáceo Cascarudo !</span> </p>
    </form>
    
    <ResultadoCalcu />

   
</section>

<script src="/src/scripts/calculadoraPropina.js" client:load></script>
